<div id="card" class="card col-3 mx-auto" style="width: 18rem;">
  <img src="{{poke.sprite}}" class="card-img-top" alt="poke sprite">
  <div class="card-body">
    <h5 class="card-title"  STYLE="text-transform:capitalize">{{poke.name}}</h5>
    <p class="card-text">
         <ul>
      
      <li>HP: {{poke.hp}}</li>
      <li>Defense: {{poke.defense}}</li>
      <li>Attack: {{poke.attack}}</li>
      <li>Ability 1: {{poke.ability_1}}</li>
      <li>Ability 2: {{poke.ability_2}}</li>
      <li>Ability 3: {{poke.ability_3}}</li>
      
      
      
    </ul>

    </p>
    
     
     
    
  </div>
  
  {# <a href="{{url_for('User.add_to_team', id=poke.id) }}" ><button type="submit" class="btn btn-danger btn-block"><i class="bi bi-plus-square-fill"></i>&nbsp;Add To Team</button></a>
  <br> #}
</div>