{% extends 'base.html.j2' %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}
    <h1>Welcome to the Devil's Colosseum!</h1>
    <h6>You will pick up to FIVE Pokemon to battle other contenders!</h6>
    <h6>Choose wisely! As you battle for your SOUL!</h6>
{% endblock %}