{% extends 'base.html.j2' %}

{% block title %}
    Search and Build your Team
{% endblock %}

{% block css%}
    <link href="{{url_for('static',filename='css/party.css')}}" rel="stylesheet">
    {% endblock%}

{% block content %}
<br>
    <h1>Pokemon</h1>
    <form action="{{url_for('main.party')}}" method="POST">
    {{ form.hidden_tag() }}
    <div>
            {{form.search.label(class="form-label")}}
            {{form.search(class="form-control")}}
            {% for error in form.search.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
  {# <div class="mb-3">
    <label for="pokemon" class="form-label">Enter Pokemon for party</label>
    <input type="text" name="pokemon" class="form-control" id="pokemon">
  </div> #}

  <span style="color:red;"><small>{{ error }}</small></span>
  <br>
  <div>
        {{form.submit(class="bt btn-danger form-control")}}
        </div>
    </form>

    {% if pokemon_party %}

    {% for poke in pokemon_party%}
    <br>
<div class="contrainer">
<div class = "row">


{% include './includes/card.html.j2'%}



{# end div for grid and rows  #}
</div></div>


<br>
{# {{form.confirm(class="bt btn-danger form-control")}} #}

{% endfor %}



{% endif %}



{% endblock %}


