{% extends 'base.html.j2' %}

{% block title %}
    Search and Build your Team
{% endblock %}

{% block content %}
    <h1>Pokemon</h1>
    <form action="{{url_for('party')}}" method="POST">
    {{ form.hidden_tag() }}
    <div>
            {{form.search.label(class="form-label")}}
            {{form.search(class="form-control")}}
            {% for error in form.search.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
  {# <div class="mb-3">
    <label for="pokemon" class="form-label">Enter Pokemon for party</label>
    <input type="text" name="pokemon" class="form-control" id="pokemon">
  </div> #}

  <span style="color:red;"><small>{{ error }}</small></span>
  <br>
  <div>
        {{form.submit(class="bt btn-danger form-control")}}
        </div>
    </form>

    {% if pokemon_party %}

    {% for poke in pokemon_party%}
<div class="card" style="width: 18rem;">
  <img src="{{poke.sprite}}" class="card-img-top" alt="poke sprite">
  <div class="card-body">
    <h5 class="card-title"  STYLE="text-transform:capitalize">{{poke.name}}</h5>
    <p class="card-text">
         <ul>
      
      <li>HP: {{poke.hp}}</li>
      <li>Defense: {{poke.defense}}</li>
      <li>Attack: {{poke.attack}}</li>
      <li>Ability 1: {{poke.ability_1}}</li>
      <li>Ability 2: {{poke.ability_2}}</li>
      <li>Ability 3: {{poke.ability_3}}</li>
      
      
      
    </ul>

    </p>
    
  </div>
  
</div>
{% endfor %}


{% endif %}
{% endblock %}


